.ritheader {
  background-color: $brand-primary;
  color: #fff;
  border: 0px;
  border-radius: 0px;

  .navbar-nav.nav {
    > li {
      > a {
        color: #fff;

        &:hover {
          @extend a;
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
  }
}
